<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>541628732798-v7pp8elnurlv5e2v2t0s4u9qetpjhli8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.541628732798-v7pp8elnurlv5e2v2t0s4u9qetpjhli8</string>
	<key>API_KEY</key>
	<string>AIzaSyB885j1B03jJ91La8N2di0jpc4jRxtsr5A</string>
	<key>GCM_SENDER_ID</key>
	<string>541628732798</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.menurestoran</string>
	<key>PROJECT_ID</key>
	<string>fir-flutter-codelab-a3b84</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-flutter-codelab-a3b84.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:541628732798:ios:23a385e26cfcea9dd24f2f</string>
</dict>
</plist>